
h1 {  
    text-align: center;  
    padding: 23px;  
    background-color: rgb(24, 25, 25);  
    color: rgb(106, 104, 104);  
    }  
  
#clear{  
width: 270px;  
border: 3px solid gray;  
    border-radius: 3px;  
    padding: 20px;  
    background-color: rgb(49, 56, 99);  
}  
  
.formstyle  
{  
width: 300px;  
height:250px;  
margin: auto;  
border: 10px groove rgb(55, 14, 62);  
border-radius: 5px;  
padding: 20px;  
}  
  
  
  input  
    {  
    width: 20px;  
    background-color: rgb(43, 50, 117);  
    color: white;  
    border: 3px solid rgb(85, 228, 204);  
        border-radius: 5px; 
        width:130px; 
        padding: 3px;  
        margin: 5px;  
        font-size: 15px;
        height:40px;  
    }
  
#calc{  
width: 250px;  
border: 5px solid black;  
    border-radius: 3px;  
    padding: 20px;  
    margin: auto;  
}  
body {background:url(orion-nebula-111071.jpg);
background-attachment:fixed;}